<% content_for(:javascripts) do %>
	<%= javascript_include_tag 'messages/mailboxes' %>
<% end %>

<div id="yui-main">
	<div class="yui-b">
		<div class="yui-g">
			<%= render :partial => "mailboxes" %>
			<div id="inbox">
				<ul id="messages" class="messages">
					<%= render :partial => "message", :locals => {:is_showing => false }, :collection => @messages %>
					<div class="clearfix"></div>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="ads" class="yui-b">
	Ads
</div>
