<% content_for(:javascripts) do %>
	<%= javascript_include_tag 'messages/mailboxes' %>
<% end %>
<div id="yui-main">
	<div class="yui-b">
		<div class="yui-g">
			<ul id="mailboxes">
				<li id="inboxMailbox">
					<a href="<%= inbox_user_messages_path(current_user) %>">Inbox (322)</a>
				</li>
				<li id="sentMailbox">
					<a class="current" href="<%= outbox_user_messages_path(current_user) %>">Sent Messages</a>
				</li>
				<div class="clearfix"></div>
			</ul>
	
			<div id="inbox">
				<ul id="messages">
					<%= render :partial => "message", :collection => @messages %>
					<div class="clearfix"></div>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="ads" class="yui-b">
	Ads
</div>
