<div class="formRow">
	<%= label_tag string_field %>
	<%= form.text_field string_field, :maxlength => Profile::MAX_STRING_LENGTH, :class => "profileInput" %>
	<span class="fieldCounter"></span>
</div>