<% interested_sex = @user.interested_sex %>

<div class="yui-g"> 
	<div class="profileWrapper standalone">
		<div class="profile">
			<div class="img">
				<a href="#"><img class="articleImage" width="110" height="90" alt="" src="http://l.yimg.com/ds/orion/us/trend_hunter537/1216278000/1:trend_hunter537:8f4fb143c87d30ba65587aae253b2a3a/megan_fox.jpg"></a>
				<a class="more" href="#">More Photos</a>
			</div>

			<div class="summary">
				<div class="info">
					<span class="name"><%= @user.login %>,</span>
					<span class="age">&nbsp;<%= @user.age %></span> 
					<span class="location"><%= @user.zipcode %></span>
				</div>
				<div class="lastLogin">
					<span class="onlineNow">Online Now</span>
				</div>
				
				<ul class="facts">
					<li>
						Thinks guys should always make the first move on the eastside
					</li>
					<li>
						Loves dorks
					</li>
					<li>
						Hates when girls fight over guys
					</li>
				</ul>
				
				<a class="email" href="#">Msg</a>
			</div>

			<div class="moreInfo">
				<div class="info">
					<h3>
						Why Me?
					</h3>
					<p>Because I'm the coolest girl on the block!<p>
				</div>
				<div class="info">
					<h3>
						Best Feature:
					</h3>
					<p>Butt</p>
				</div>
				<div class="info">
					<h3>
						My Kinda Guy:
					</h3>
					<p>Strong, sexy, and confident</p>
				</div>
				<div class="info">
					<h3>
						Major Turn Ons:
					</h3>
					<p>Big smiles</p>
				</div>
				<div class="info">
					<h3>
						Msg Me If:
					</h3>
					<p>You know how to handle a girl like me!</p>
				</div>
			</div>
		</div>
	</div>
</div>