<% content_for(:stylesheets) do %>
	<%= stylesheet_link_tag 'photos/photos.css' %>
<% end %>

<div class="yui-g"> 
	<div class="profileWrapper standalone">
		<div class="profile">
			<%= render :partial => "users/user" %>
		</div>
	</div>
</div>