<div class="yui-u">
	<div id="whatIs">
		<h2>What Is Singles?</h2>
		<p class="largeText">Singles is a tool for tracking your restaurant experiences:</p>
		<ul class="largeText">
			<li><b>Organize</b> your restaurant visits by cusine type, tags, and location</li>
			<li><b>Add photos</b> from your experiences</li>
			<li><b>Create a wishlist</b> of the places you want to visit next</li>
			<li><b>View maps</b> of your visits</li>
		</ul>
	</div>
</div>