<div class="yui-g">
	<p>Enter your email and we will send you a link to reset your password.</p>
	
	<% form_tag url_for(:action => 'create'), :class => "standardForm" do %>
		<div class="formRow">
			<label for="email">Email:</label> 
			<%= text_field_tag 'email', '', :size => 50 %></p>
		</div>
		<div class="formRow">
			<%= submit_tag 'Reset Password', :class => "submit" %>
		</div>
	<% end %>
</div>