body {
	color: #333;
}

.clearfix {
	clear: both;
}

.largeText {
	font-size: 108%;
}

a {
	color: #3B5998;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.green {
	color: #009900;
}

.red {
	color: #990000;
}

/* 
------------------------------------------
=HEADER
------------------------------------------*/
#hd {
	background:transparent url(../images/fb_menubar_background.png) no-repeat center bottom;
	font-size: 93%;
}

#hd #logo {
	display: block;
	float: left;
	width: 105px;
}

#hd #logo a {
	color: #fff;
	text-decoration: none;
	font-size: 153.9%;
	display: block;
	padding: 3px 0px 5px 15px;
}

#primaryNavigation {
	float: left;
}

#auxillaryNavigation {
	float: right;
	padding-right: 10px;
}

.navigationNode {
	float:left;
	margin: 0px 4px 0px 0px;
}

.navigationNode a {
	color: #fff;
	display: block;
	padding: 7px 7px 7px 8px;
}

.navigationNode a:hover {
	text-decoration: none;
	background: #5C75AA;
}

/* 
------------------------------------------
=BODY
------------------------------------------*/
#bd {
	margin:0pt auto;
	width: 920px;
	padding-top: 10px;
}

/* 
------------------------------------------
=FOOTER
------------------------------------------*/
#ft {
	clear: both;
	text-align: center;
	color: #bbb;
	border-top: 1px solid #eee;
	margin: 10px 0px;
	padding-top: 10px;
}

#ft p.copy {
	margin: 10px;
}


/* 
------------------------------------------
=ADS
------------------------------------------*/
#ads {
	background: #3a3a3a;
	height: 600px;
	color: #fff;
}

/* 
------------------------------------------
=FILTER
------------------------------------------*/
#filters {
	background: #F7F7F7;
	padding: 5px;
	font-size: 85%;
	border: 1px solid #eee;
}

#filters h2 {
	font-size: 121.1%;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}

#filters .filter {
	padding: 5px;
	border: 1px solid #eee;
	background: #fff;
	border-bottom: none;
}

#filters .filter .title {
	font-weight: bold;
	padding-bottom: 3px;
	color: #000;
}

#filters .submit {
	display: block;
	margin-top: 10px;
}
#x-history-frame {
	height: 1px;
	left: 0;
	position: absolute;
	top: -1px;
	visibility: hidden;
	width: 1px;
}

/* 
------------------------------------------
=PROFILES
------------------------------------------*/
#profileWrapper {
	border-left: 1px solid #eee; 
	border-right: 1px solid #eee; 
	background: #f7f7f7;
	float: left;
	margin-left: 10px;
}

#profiles {
	text-align: left;
}

#profiles .profile {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid #eee;
	padding-bottom: 5px;
	background: #fff;
}

#profiles .profile-view-over {
	background: #f7f7f7;
}

.profile .img {
	float: left;
	width: 160px;
	text-align: center;
}

.standalone .profile .img {
	width: 165px;
}

.profile .img .separator {
	padding: 0px 5px;
}

.profile .img img {	
	padding: 4px;
	border: 1px solid #ccc;
	background: #fff;
	margin-bottom: 5px;
}

.profile .summary {
	float: left;
	padding: 2px 0px 0px 20px;
	overflow: hidden;
	width: 350px;
}

.profile .summary .info {
	font-weight: bold;
}

.profile .summary .info .location {
	display: block;
}

.profile .summary .info .name {
	padding-right: 3px;
}

.profile .summary .lastLogin {
	color: #aaa;
	font-size: 93%;
}

.profile .summary .lastLogin .onlineNow {
	color: #080;
}

.profile .summary ul.facts {
	margin-bottom: 5px;
}

.profile .summary ul.facts li {
	list-style-type: disc;
	margin-left: 30px;
}

.profile .summary a.fave, .profile .summary a.email,
.profile .summary a.moreInfoLink {
	margin-right: 5px;
}

.profile .moreInfo {
	clear: both;
	width: 100%;
	margin-top: 5px; 
	padding-top: 5px;
	padding-left: 10px;
}

.profile .moreInfo .info {
	margin-bottom: 5px;
}

.profile .moreInfo .info h3 {
	font-weight: bold;
}

.profile .moreInfo .info p {
	margin-left: 10px;
}

.profileWrapper.standalone {
	border: 1px solid;
	width: 600px;
	margin: 0 auto;
	background: #f7f7f7;
	border: 1px solid #eee;
	padding: 10px;
}

.profileWrapper.standalone .profile {
	background: #fff;
	padding: 5px;
}

.profileInput {
	width: 400px;
}

.newMedia {
	float: right;
	background: transparent url(../images/new_media_button_plus.gif) no-repeat scroll 9px center;
	color: #333333;
	display: block;
	font-weight: bold;
	padding: 5px 9px 5px 22px;
}

/* 
------------------------------------------
=PAGINATION
------------------------------------------*/
.paginationBox {
	clear: both;
	margin: 0px auto;
	width: 100%;
	text-align: right;
	background-color: #f2f2f2;
	padding: 3px 0px 3px 3px;
	font-weight: bold;
	font-size: 0.9em;
}
 
.paginationBox a:link, .paginationBox a:visited { 
	padding: 2px 6px; 
	border: 1px solid #ddd; 
	background: #fff; 
	text-decoration: none;
}
 
.paginationBox a:hover {
	color: #fff; 
	background: #03c; 
	border-color: #000; 
	text-decoration: none;
}
 
.paginationBox .thisPage {
	padding: 2px 6px; 
	font-weight: bold; 
	background: #f2f2f2; 
	color: #800000; 
}
 
.paginationBox .label {
	padding-right: 5px;
}
 
.paginationBox .prev { 
	margin-right: 5px;
	padding: 2px 6px; 
	background: #fff; 
}
 
.paginationBox .next { 
	margin-left: 5px;
	padding: 2px 6px; 
	background: #fff;
}
 
.paginationBox .nResults {
	float: left;
	color: #000;
}
 
.page {
	padding-left: 5px;
	padding-right: 5px;
}

/* 
------------------------------------------
=BASIC FORM STYLING
------------------------------------------*/
.standardForm {
	background: #f2f2f2;
	border: 1px solid #ddd;
	padding: 10px 5px 5px 5px;
}

html .standardForm legend {
	position: absolute;
	top: -1em;
	left: 0.5em;
	padding: 0.4em 1.0em;
	background: #a5cc7a;
	color: #fff;
	font-weight: bold;
}

html .standardForm fieldset {
	position: relative;
	margin-top: 1em;
	padding: 2em 0em 2em 0em;
	border: 2px solid #a5cc7a;
}

p.allFieldsRequiredMsg {
	color: #880000;
}

.standardForm label {
	width: 10em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
	font-weight: bold;
}

.standardForm label.required {
	color: #880000;
}

.standardForm input {
	font-size: 1.0em;
}

.standardForm input:focus {
	background: #fff9d8;
}

.standardForm .formRow {
	white-space: nowrap;
	padding-bottom: 0.5em;
}

.standardForm .formRow .fieldCounter {
	font-weight: bold;
}

.standardForm .submit {
	margin-left: 10.5em;
}

.standardForm textarea {
	width: 50%;
	height: 75px;
}

.standardForm .fieldWithErrors {
	background: #974B3B;
	display: inline;
	padding: 5px;
}

#errorExplanation {
	width: 400px;
	margin: 0 auto;
	border: 2px solid #974B3B;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 14px;
	margin: -7px;
	background-color: #974B3B;
	color: #fff;
}

#errorExplanation p {
	color: #000;
	margin: 1em 0 0 0;
	padding: 5px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: disc;
	margin-left: 40px;
}

#recaptcha_area {
	padding-left: 40px;
}

/* 
------------------------------------------
=REGISTER
------------------------------------------*/
#register h2, #whatIs h2 {
	font-size: 146.5%;
	margin-bottom: 10px;
}

#register p, #whatIs p {
	margin-bottom: 10px;
}

#whatIs ul li {
	list-style-type: disc;
	margin-left: 30px;
}

#whatIs h3 {
	margin: 10px 0px;
	font-weight: bold;
}

/* 
------------------------------------------
=ACCOUNT
------------------------------------------*/
#editAccountInfo .selector {
	margin-top: 25px;
}

#editAccountInfo .selector.first {
	margin-top: 0px;
}


/* 
------------------------------------------
=INFO SECTIONS
------------------------------------------*/
.selector {
	background: transparent url(../images/tab-line.gif) repeat-x scroll 0 50%;
	float: left;
	width: 100%;
}

.selector h2 {
	background: #FFFFFF none repeat scroll 0 0;
	clear: left;
	color: #4E463F;
	float: left;
	font-size: 153.9%;
	font-weight: normal;
	margin: 0 0 0.2em;
	padding-right: 5px;
}

.selector .tool, .selector .tool:visited {
	background:#FFFFFF none repeat scroll 0 0;
	border: 4px solid #FFFFFF;
	color: #E37400;
	float: right;
	font-weight: bold;
	height: 20px;
	margin-top: 2px;
	padding: 2px 1px;
	text-decoration: none;
	word-spacing: -0.1em;
}

.tool {
	display:block;
	float:left;
	font-size:85%;
	min-height:20px;
	padding:4px 6px;
}

.selector span.tool {
	background:#E37400 url(../images/menu-current.gif) no-repeat scroll 100% -90px;
	height:auto;
	padding:0;
}

.selector span.tool strong {
	background: transparent url(../images/menu-current.gif) no-repeat scroll 0 -90px;
	color: #FFFFFF;
	display: block;
	height: 16px;
	padding: 2px 6px;
	font-weight: bold;
}

.selector a  {
	text-decoration: none;
}

.infoSection {
	margin-left: 15px;
}

.infoSection .infoRow .label {
	font-weight: bold;
}

/* 
------------------------------------------
=EDIT PROFILE
------------------------------------------*/
.tips {
	color: #4E463F;
	margin-bottom: 10px;
}


/* 
------------------------------------------
=PRIVATE MESSAGES
------------------------------------------*/
#mailboxes {
	clear: both;
}

#mailboxes li {
	float: left;
	padding: 5px 0px;
	text-align: center;
}

#mailboxes li a {
	padding: 5px 10px 6px 10px;
	width: 120px;
	background: #ccc;
	color: #333;
	font-weight: bold;
	font-size: 93%;
	border-color: #898989;
	border-style: solid solid solid none;
	border-width: 1px 1px 1px 0pt;
}

#mailboxes li a.current {
	background: #6D84B4;
	color: #fff;
	border: 1px solid #3B5998;
	border-left: 1px solid #36538F;
	border-right: 1px solid #5973A9;
}

#mailboxes li a.current:hover {
	text-decoration: none;
}

#inbox, #messageDetails {
	background: #F7F7F7;
	border: 1px solid #ddd;
	border-top: 1px solid #ccc;
	margin: 0px auto 0 auto;
	padding: 10px;
}

#messages li {
	background: #fff;
	border: 1px solid #ddd;
	padding: 5px;
	float: left;
	width: 695px;
	margin-bottom: 10px;
}

#messages .photo {
	float: left;
	width: 80px;
	text-align: center;
	padding-right: 15px;
}

#messages .photo img {
	padding: 4px;
	background: #fff;
	border: 1px solid #ccc;
}

#messages .metadata {
	float: left;
	width: 175px;
}

#messages .metadata .from {
	display: block;
}

#messages .metadata .sentOn {
	display: block;
	color: #777;
	font-size: 85%;
}

#messages .message {
	float: left;
	width: 400px;
}

#messages .message .subject {
	display: block;
}

#messages .message .snippet {
	color: #8D9CCF;
}

#messages .messageActions {
	float: right;
}

#messages a.delete {
	background: transparent url(../images/x_to_hide.gif) no-repeat scroll 0%;
	display: block;
	height: 14px;
	width: 13px;
}

#messages a.delete:hover {
	background: #3B5998 url(../images/x_to_hide_hover.gif) no-repeat scroll 0%;
}

#messageHeader {
	font-size: 108%;
	font-weight: bold;
	width: 500px;
	margin: 0 auto 10px auto;
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

#replyWrapper {
	clear: both;
}

#messageStatus {
	padding-left: 5px;
}

/* 
------------------------------------------
=FLASH NOTICES
------------------------------------------*/
.notice {
	border: 1px solid #E2C822;
	padding: 10px;
	margin: 0.5em auto;
	width: 450px;
	background: #FFF9D7;
	font-weight: bold;
}

/* 
------------------------------------------
=MISC
------------------------------------------*/
.instructions {
	margin-bottom: 10px;
	font-weight: normal;
}