<div class="paginationBox">
	<span class="nResults">25 result(s)</span>
	<span class="label">Pages:</span>
	<span class="thisPage">1</span>
	<a href="javascript: void(0);" onclick="mask('roomsList'); return false;">2</a>
	<a href="javascript: void(0);" onclick="mask('roomsList'); return false;">3</a>
	<a href="javascript: void(0);" onclick="mask('roomsList'); return false;">4</a>
	<a href="javascript: void(0);" onclick="mask('roomsList'); return false;">5</a>
	<a href="javascript: void(0);" onclick="mask('roomsList'); return false;">6</a>
	<a class="next" href="javascript: void(0);" onclick="mask('roomsList'); return false;">Next</a>
</div>