<% content_for(:stylesheets) do %>
	<%= stylesheet_link_tag 'photos/photos.css' %>
<% end %>

<div id="yui-main">
	<div class="yui-b">
		<div class="yui-ge">
			<div class="yui-u first">
				<div class="paginationBox">
					<span class="nResults">25 result(s)</span>
					<span class="label">Pages:</span>
					<span class="thisPage">1</span>
					<a href="javascript: void(0);" onclick="mask('roomsList'); return false;">2</a>
					<a href="javascript: void(0);" onclick="mask('roomsList'); return false;">3</a>
					<a href="javascript: void(0);" onclick="mask('roomsList'); return false;">4</a>
					<a href="javascript: void(0);" onclick="mask('roomsList'); return false;">5</a>
					<a href="javascript: void(0);" onclick="mask('roomsList'); return false;">6</a>
					<a class="next" href="javascript: void(0);" onclick="mask('roomsList'); return false;">Next</a>
				</div>
				<div id="profileWrapper">
					<ul id="profiles">
						<%= render :partial => "users/user", :collection => @users, :locals => {:use_li => true} %>
						<div class="clearfix"></div>
					</ul>

				</div>
				<div class="paginationBox">
					<span class="nResults">25 result(s)</span>
					<span class="label">Pages:</span>
					<span class="thisPage">1</span>
					<a href="javascript: void(0);" onclick="mask('roomsList'); return false;">2</a>
					<a href="javascript: void(0);" onclick="mask('roomsList'); return false;">3</a>
					<a href="javascript: void(0);" onclick="mask('roomsList'); return false;">4</a>
					<a href="javascript: void(0);" onclick="mask('roomsList'); return false;">5</a>
					<a href="javascript: void(0);" onclick="mask('roomsList'); return false;">6</a>
					<a class="next" href="javascript: void(0);" onclick="mask('roomsList'); return false;">Next</a>
				</div>
			</div>
			<div id="ads" class="yui-u">
				ads
			</div>
		</div>
	</div>
</div>
<div class="yui-b">
	<div id="filters">
		<h2>Profile Search</h2>
		<div class="filter">
			<h4 class="title">Username</h4>
			<form id="usernameForm" name="usernameForm" action="return false;">
				<input type="text" name="username"/>
				<input type="submit" value="Search" class="submit"/>
			</form>
		</div>
		<div class="filter">
			<h4 class="title">Sex</h4>
			<form id="sexForm" name="sexForm" action="return false;">
				<input type="checkbox" name="sex" value="m" id="sexMale"/>
				<label for="sexMale">M</label>
				<input type="checkbox" name="sex" value="f" id="sexFemale"/>
				<label for="sexFemale">F</label>
			</form>
		</div>
		<div class="filter">
			<h4 class="title">Zipcode</h4>
			<form id="zipcodeForm" name="zipcodeForm" action="return false;">
				<div class="milesWrapper">
					Within
					<select name="miles">
						<option value="1">10</option>
						<option value="2">50</option>
					</select>
					miles
				</div>
				<div class="zipcodeWrapper">
					of
					<input type="text" name="zipcode" size="5"/>
					<input type="submit" value="Update" class="submit" />
				</div>
			</form>
		</div>
		<div class="filter">
			<h4 class="title">Age</h4>
			<form id="ageForm" name="ageForm" action="return false;">
				<select name="ageBegin"> 
					<option value="18">18</option>
					<option value="18">18</option>
					<option value="18">18</option>
					<option value="18">18</option>
					<option value="18">18</option>
					<option value="18">18</option>
					<option value="18">18</option>
					<option value="18">18</option>
					<option value="18">18</option>
				</select>
				to
				<select name="ageEnd"> 
					<option value="18">18</option>
					<option value="18">18</option>
					<option value="18">18</option>
					<option value="18">18</option>
					<option value="18">18</option>
					<option value="18">18</option>
					<option value="18">18</option>
					<option value="18">18</option>
					<option value="18">18</option>
				</select>
				<input class="submit" type="submit" value="Update" />
			</form>
		</div>
		<div class="filter">
			<h4 class="title">Body Type</h4>
			<form id="bodyTypeForm" name="bodyTypeForm" action="return false;">
				<input type="checkbox" name="bodyType" value="any" id="btAny"/>
				<label for="btAny">Any</label><br/>
				<input type="checkbox" name="bodyType" value="p" id="btSlim"/>
				<label for="btSlim">Slim</label><br/>
				<input type="checkbox" name="bodyType" value="p" id="btPetite"/>
				<label for="btPetite">Petite</label><br/>
				<input type="checkbox" name="bodyType" value="a" id="btAthletic"/>
				<label for="btAthletic">Athletic</label><br/>
				<input type="checkbox" name="bodyType" value="t" id="btThick"/>
				<label for="btThick">Thick</label><br/>
				<input type="checkbox" name="bodyType" value="le" id="btLittleExtra"/>
				<label for="btLittleExtra">Little Extra</label><br/>
				<input type="checkbox" name="bodyType" value="big" id="btBig"/>
				<label for="btBig">Big</label>
			</form>
		</div>
		<div class="filter">
			<h4 class="title">Best Feature</h4>
			<form id="bestFeatureForm" name="bestFeatureForm" action="return false;">
				<input type="checkbox" name="bodyType" value="any" id="btAny"/>
				<label for="btAny">Any</label><br/>
				<input type="checkbox" name="bodyType" value="p" id="btSlim"/>
				<label for="btSlim">Smile</label><br/>
				<input type="checkbox" name="bodyType" value="p" id="btPetite"/>
				<label for="btPetite">Butt</label><br/>
				<input type="checkbox" name="bodyType" value="a" id="btAthletic"/>
				<label for="btAthletic">Chest</label><br/>
				<input type="checkbox" name="bodyType" value="t" id="btThick"/>
				<label for="btThick">Legs</label><br/>
				<input type="checkbox" name="bodyType" value="le" id="btLittleExtra"/>
				<label for="btLittleExtra">Hair</label><br/>
				<input type="checkbox" name="bodyType" value="big" id="btBig"/>
				<label for="btBig">Appendages</label>
			</form>
		</div>
		<div class="filter">
			<h4 class="title">Ethnicity</h4>
			<form id="ethnicityForm" name="ethnicityForm" action="return false;">
				<input type="checkbox" name="ethnicity" value="any" id="ethAny"/>
				<label for="ethAny">Any</label><br/>
				<input type="checkbox" name="ethnicity" value="a" id="ethAsian"/>
				<label for="ethAsian">Asian</label><br/>
				<input type="checkbox" name="ethnicity" value="p" id="ethBlack"/>
				<label for="ethBlack">Black</label><br/>
				<input type="checkbox" name="ethnicity" value="a" id="ethHispanic"/>
				<label for="ethHispanic">Hispanic</label><br/>
				<input type="checkbox" name="ethnicity" value="t" id="ethIndian"/>
				<label for="ethIndian">Indian</label><br/>
				<input type="checkbox" name="ethnicity" value="le" id="ethMixed"/>
				<label for="ethMixed">Mixed</label><br/>
				<input type="checkbox" name="ethnicity" value="big" id="ethWhite"/>
				<label for="ethWhite">White</label><br/>
				<input type="checkbox" name="ethnicity" value="big" id="ethOther"/>
				<label for="ethOther">Other</label>
			</form>
		</div>
		<div class="filter last">
			<h4 class="title">Has Pic?</h4>
			<form id="hasPicForm" name="hasPicForm" action="return false;">
				<input type="checkbox" name="hasPic" value="y" id="hasPicYes"/>
				<label for="hasPicYes">Y</label>
				<input type="checkbox" name="hasPic" value="n" id="hasPicNo"/>
				<label for="hasPicNo">N</label>
			</form>
		</div>
		<div class="clearfix"></div>
	</div>
</div>