/* 
------------------------------------------
=PHOTO GALLERY
------------------------------------------*/
ul#galleries, ul.gallery {
	background: #F7F7F7;
	border: 1px solid #ddd;
	width: 100%;
	margin: 0px auto 0 auto;
	clear: both;
}

ul.gallery {
	margin: 10px 0px 10px 0px;
	float: left;
}

ul.gallery.galleryForPhotoBrowser {
	margin: 0;
	border: none;
}

.paginationBox.galleryPagination {
	width: 100%;
}

ul#galleries li, ul.gallery li {
	float: left;
	width: 160px;
	height: 150px;
	text-align: center;
	vertical-align: middle;
	padding:8px 16px 8px 8px;
	position: relative;
}

ul#galleries li img, ul.gallery li img {
	padding: 4px;
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: 5px;
}

ul#galleries li a.title, ul#galleries li span.count, ul.gallery li span.description {
	padding-left: 4px;
	text-align: left;
	display: block;
}

ul#galleries li a.title {
	text-decoration: none;
	font-weight: bold;
}

ul#galleries li .count, #galleryInfo .count, .gallery .photo .description {
	color: #6F6F6F;
}

ul.gallery li.photo-over img, ul.gallery li.photo-selected img {
	cursor: pointer;
	background: #a1a1a1;
}

#galleryInfo {
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin: 0px auto 10px auto;
	position: relative;
	padding-left: 25px;
}

#galleryInfo .title {
	font-size: 138.5%;
	font-weight: bold;
	display: block;
	color: #3B5998;
}

#galleryInfo .actions {
	position: absolute;
	top: 2px;
	left: 0;
}

#galleryInfo a.delete {
	background: transparent url(../images/x_to_hide.gif) no-repeat scroll 0%;
	display: block;
	height: 14px;
	width: 13px;
}

#galleryInfo a.delete:hover {
	background: #3B5998 url(../images/x_to_hide_hover.gif) no-repeat scroll 0%;
}

.edit_link {
	display: none;
	position: absolute;
	background: url(../images/editor_icon.gif) no-repeat 0px top;
	height: 18px;
	width: 18px;
	top: 9px;
	right: 22px;
	border-bottom:1px solid #F7F7F7;
	border-left:1px solid #F7F7F7;
}

.mouseover .edit_link {
	display: block;
}
.mouseover .edit_link:hover {
	background-position: 0px -18px;
	text-decoration: none;
}

/* 
------------------------------------------
=Swfupload
------------------------------------------*/
#addPhotosContainer {
	margin: 0 auto;
	width: 400px;
	clear: both;
	text-align: center;
}

#addPhotosBtn {
	margin: 0 auto;
}

.progressWrapper {
	overflow:hidden;
}

.progressContainer {
	background-color:#F7F7F7;
	border:1px solid #E8E8E8;
	margin:5px;
	overflow:hidden;
	padding:4px;
}

.message {
	background-color:#FFFFCC;
	border:1px solid #FFDD99;
	margin:1em 0;
	overflow:hidden;
	padding:10px 20px;
}

.red {
	background-color:#FFEBEB;
	border:1px solid #B50000;
}

.green {
	background-color:#EBFFEB;
	border:1px solid #DDF0DD;
}

.blue {
	background-color:#F0F5FF;
	border:1px solid #CEE2F2;
}

.progressName {
	overflow:hidden;
	text-align:left;
	white-space:nowrap;
}

.progressBarInProgress, .progressBarComplete, .progressBarError {
	background-color:blue;
	font-size:0;
	height:2px;
	margin-top:2px;
	width:0;
}

.progressBarComplete {
	background-color:green;
	visibility:hidden;
	width:100%;
}

.progressBarError {
	background-color:red;
	visibility:hidden;
	width:100%;
}

.progressBarStatus {
	text-align:left;
	white-space:nowrap;
}

a.progressCancel {
	background-image:url(../images/cancelbutton.gif);
	background-position:-14px 0;
	background-repeat:no-repeat;
	display:block;
	float:right;
	font-size:0;
	height:14px;
	width:14px;
}

a.progressCancel:hover {
	background-position:0 0;
}
